:where(.css-dev-only-do-not-override-zg0ahe).ant-popover .ant-popover-inner {
    background-color: #151517;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-popconfirm .ant-popconfirm-message .ant-popconfirm-title {
    font-weight: 700;
    color: rgb(255 255 255 / 88%);
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-popconfirm .ant-popconfirm-message .ant-popconfirm-description {
    margin-top: 4px;
    color: rgb(255 255 255 / 88%);
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-btn-primary {
    color: #fff;
    background: #21db9a;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-popover {
    --antd-arrow-background-color: rgba(255, 255, 255, 0.1);
}