.traveling-input {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

.traveling-input.goDown{
    transform: translateY(90px);
    transition: transform 0.2s ease-in-out;
}

.hidden-input{
    position: absolute;
    width: calc(100% - 70px);
    animation: showInput 0.2s ease-in-out;
}

@keyframes showInput {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}