.wallet-address-button{
    width: 270px;
    position: absolute;
    bottom: 10px;
    color: #9E9E9F;
    text-align: center;
    cursor: pointer;
}

.wallet-address-button:hover{
    color: #21DB9A;
    text-decoration: underline;
}

.wallet-address{
    cursor: pointer;
    display: flex;
    height: 100px;
    color: white;
    background-color: #242424;
    border: 2px solid #9E9E9F50;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 8px;
}

.traveling-input {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.traveling-input.goDown{
    transform: translateY(90px);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.hidden-input{
    position: absolute;
    width: calc(100% - 70px);
    display: flex;
    align-items: flex-end;
    animation: showInput 0.2s ease-in-out;
}

.paste-text-button{
    color: #21DB9A;
    width: 9%;
    height: 37px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.paste-text-button:hover{
    color: #9e9e9e;
}

.paste-text-button svg{
    font-size: 18px;
}

.paste-text-button:hover svg{
    font-size: 19px;
}

.paste-bottom-layer{
    background-color: #3C3C3C;
    position: absolute;
    width: 100%;
    height: 38px;
    z-index: -1;
    margin-bottom: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

@keyframes showInput {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}