/* CSS for customizing the scrollbar */
/* For Webkit browsers (Chrome, Safari) */
.react-select__menu-list::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }

  .react-select__menu-list::-webkit-scrollbar-thumb {
    background-color: #21db9a; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
  }

  .react-select__menu-list::-webkit-scrollbar-track {
    background-color: #3c3c3c; /* Set the color of the scrollbar track */
  }
  