:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number .ant-input-number-input {
    color: rgba(255, 255, 255, 0.88);
    font-size: 1.125em;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #3C3C3C;

}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number-affix-wrapper input.ant-input-number-input {
    padding: 0.4375em 0.875em;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number-affix-wrapper {
    color: #21DB9A;
    font-size: 1.125em;
    padding-inline-start: 7px;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number-outlined:hover {
    /* border-color: #4096ff; */
    background-color: #3C3C3C;
    border: hidden;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number-outlined {
    background: #282828;
    border: hidden;
    margin: 0.4375em auto;
}

.ant-input-number-affix-wrapper css-dev-only-do-not-override-1b0bdye ant-input-number-outlined {
    background-color: #6D6D6D;
}

.ant-input-number css-dev-only-do-not-override-1b0bdye ant-input-number-focused {
    background-color: #6D6D6D;
}

.ant-input-number-outlined:focus-within {
    border:hidden;
    background-color: #282828;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number-outlined .ant-input-number-handler-wrap {
    background: #282828;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number .ant-input-number-handler {
    color: #21db9a;
    font-weight: bold;
     border-inline-start: hidden;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number .ant-input-number-handler-up-inner, :where(.css-dev-only-do-not-override-1b0bdye).ant-input-number .ant-input-number-handler-down-inner {
    color: #21db9a;
    font-weight: bold;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner, :where(.css-dev-only-do-not-override-1b0bdye).ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
    margin-inline-end: 0;
    font-size: 0.5625em;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-input-number-affix-wrapper .ant-input-number-prefix {
    margin-inline-end: 0.75em;
    margin-inline-start: 0.4em;
}