@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.top-navbar{
    background-color: #0E0E0F;
    padding: 0 10px 0 10px;
    position: fixed;
    top: 0;
    left: 6%;
    width: 94%;
    height: 6%;
    box-sizing: border-box;
    display: flex;
    z-index: 2;
}

.links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
}

.top-link{
    height: 100%;
    display: flex;
    align-items: center;
}

.links-container a{
    text-decoration: none;
}

.top-nav-link{
    text-decoration: none;
    color: #9E9E9E;
    border-radius: 7px;
    padding: 5px 9px 5px 9px;
    margin: 0 10px;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.top-nav-link:hover,
.top-nav-link:active,
.top-nav-link.active{
    background-color: #21DB9A;
    color: white;
}

.user-name{
    color: #9E9E9E;
    font-weight: 500;
    font-size: 16px;
    margin-right: 13px;
    font-family: 'Inter', sans-serif;

}
.profile-icon{
    color: #21db9a;
    font-size: 1.5rem;
    
}

.profile-icon-containar{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
}

.profile-menu.active{
    position: absolute;
    top: 6%;
    right: 1%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

.profile-menu {
    height: 500px;
    width: 250px;
    position: absolute;
    top: -6%;
    right: 1%;
    background-color: #0E0E0F;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #21db9a;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: top 0.5s ease, opacity 0.5s ease;
}