@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.side-panel-and-content-container{
    display: flex;
    width: 100%;
}

.side-container{
    padding-right: 0.5%;
    flex-grow: 1;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.side-panel{
    position: relative;
    width: 340px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #0E0E0F;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 35px;
    z-index: 2;
    overflow: hidden;
}

.side-panel-header{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
    margin: 0 0 0.5rem 0;
    
}

.line{
    width: 100%;
    height: 0.005rem;
    border-color: #3C3C3C;
    margin: 0.5rem 0;
}



