.main-background{
    background-image: url("../../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.trade-img{
    width: 152px;
    height: 42px;
    margin: 15px;
}
.wallet-image{
    width: 31%;
    height: 42%;
    margin: 0%;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(37%, -76%);
}
.head-line{
    display: flex;
    font-size: 65px;
    color: white;
    position: fixed;
    top: 36%;
    left: -6%;
    transform: translate(34%, -75%);
    font-weight: 900;
}
.head-line2{
    color: #21db9a;
}
.para p{
    display: flex;
    color: white;
    position: fixed;
    top: 52%;
    left: -18%;
    transform: translate(34%, -75%);
    margin-left: 60px;
    margin-top: 35px;
}
.platform{
    color: #21db9a;
    position: fixed;
    top: 42%;
    left: -3%;
    transform: translate(34%, -75%);
    font-weight: 900;
    font-size: 28px;
    margin-top: 10px;

}
.custom-button {
    border-radius: 8px;
    background: #21db9a;
    width: 126px;
    height: 42px;
    flex-shrink: 0;
    position: fixed;
    top: 67%;
    left: 2%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}