@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.chartContainer{
    width: calc(100% - 200px);
    border-radius: 15px;
    padding: 0 45px 0 30px;
    background-color: #0E0E0F;
    margin: auto;
}

.chartContainer.full-screen {
    position: fixed;
    top: 6%;
    left: 6%;
    width: 90%;
    height: 100vh;
    z-index: 1;
    background-color: #0E0E0F;
}

#chart canvas {   
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards; /* Define the animation */
}

@keyframes fadeIn {
    to {
        
        opacity: 1;
    }
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2px;
    padding-top: 20px;
}

.full-screen-button{
    color: #9E9E9E;
    padding: 5px;
    margin-left: 10px;
}

.full-screen-button:hover{
    color: #21DB9A;
}

.duration-button{
    background-color: #0E0E0F;
    color: #9E9E9E;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 5px;
}

.duration-button:hover{
    background-color: #21DB9A;
    color: #ffffff;

}

.duration-button.active{
    background-color: #21DB9A;
    color: #ffffff;
}