@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.chartContainer{
    position: relative;
    width: 100%;
    border-radius: 15px;
    padding: 0 30px;
    background-color: #0E0E0F;
    margin: 0 auto;
    flex: 1;
    box-sizing: border-box;
}

.chartContainer.full-screen {
    position: fixed;
    top: 6%;
    left: 6%;
    max-width: 94%;
    height: 100vh !important;
    border-radius: 0;
    z-index: 3;
    background-color: #0E0E0F;
}

.chartContainer .empty-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0;
}

#chart{
    position: relative;
    z-index: 1;
    height: 85%;
    margin-right: 12px;
    padding-top: 4vh;
}

#chart canvas {   
    transition: all 0.3s ease-in-out;
}

.button-container{
    position: absolute;
    z-index: 2;
    width: calc(100% - 60px);
    background-color: #0E0E0F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
}

.full-screen-button{
    color: #9E9E9E;
    padding: 5px;
    margin-left: 10px;
}

.full-screen-button:hover{
    color: #21DB9A;
}

.duration-button{
    background-color: #0E0E0F;
    color: #9E9E9E;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 5px;
}

.duration-button:hover{
    background-color: #21DB9A;
    color: #ffffff;

}

.duration-button.active{
    background-color: #21DB9A;
    color: #ffffff;
}

.tool-tip{
    background-color: #0E0E0F;
    width: fit-content;
    height: fit-content;
    position: absolute;
    display: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    z-index: 1000;
    pointer-events: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif; 
    border: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.current-marker{
    background-color: #FFD700;
    border: 2px solid #503d01;
}

.current-marker::before{
    border: 2px solid #FFD700;
}

.suggest-marker{
    background-color: #0077FF;
    border: 2px solid #020d1b;
}

.suggest-marker::before{
    border: 2px solid #0077FF;
}

.marker{
    pointer-events: none;
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.marker::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spread-out 2s infinite;
  box-sizing: border-box;
}
    
  
@keyframes spread-out {
    0% {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    100% {
        width: 75px;
        height: 75px;
        opacity: 0;
    }
}