.quiz-container{
    width: 97%;
    flex-shrink: 0;
    border-radius: 15px;
    background: #0E0E0F;
    box-shadow: 8px 9px 7px 0 rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    color: white;
    padding: 1rem 1rem 1rem 1rem ;
}

.quiz-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quiz-top p {
    font-weight: bold;
    font-size: 1.7rem;
    padding-left: 0.5rem;
}

.quizmodel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
}

.modelHead-container {
    display: flex;
    align-items: center;
}

.modelHead-container>h1 {
    margin-left: 10px;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.quizmodel-container>p {
    font-size: 1rem;
    color: #9E9E9E;
    margin-bottom: 1.5rem;
}

.quizmodel-container div p {
    font-size: 1.5rem;
    margin: 0;
}

.info-container{
    margin-bottom: 1rem;
}

.info-container h1 {
    margin: 0;
    color: #21db9a;
}

:where(.css-dev-only-do-not-override-1fumvat).ant-modal {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: rgb(255 255 255 / 88%);
}

:where(.css-dev-only-do-not-override-1fumvat).ant-radio-wrapper {
    color: #989898;
}