.main-background{
    background-image: url("../../../../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}
.con-secret-phrase{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 501;
    line-height: normal;
    margin-top: 28px;

}
.con-secret-para{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    margin-top: 6px;
    font-size: 14px;
}
.big-box{
    margin-block-end: 10px;

}
.input-col-1{
    display: flex;
    color: white;
    position: fixed;
    top: 30%;
    left: 5%;
    transform: translate(26%, -75%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-2{
    display: flex;
    color: white;
    position: fixed;
    top: 37%;
    left: 5%;
    transform: translate(26%, 0%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-3{
    display: flex;
    color: white;
    position: fixed;
    top: 44%;
    left: 5%;
    transform: translate(26%, 75%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-4{
    display: flex;
    color: white;
    position: fixed;
    top: 51%;
    left: 5%;
    transform: translate(26%, 150%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-5{
    display: flex;
    color: white;
    position: fixed;
    top: 30%;
    left: 35%;
    transform: translate(30%, -75%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-6{
    display: flex;
    color: white;
    position: fixed;
    top: 37%;
    left: 35%;
    transform: translate(30%, -0%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-7{
    display: flex;
    color: white;
    position: fixed;
    top: 44%;
    left: 35%;
    transform: translate(30%, 75%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-8{
    display: flex;
    color: white;
    position: fixed;
    top: 51%;
    left: 35%;
    transform: translate(30%, 150%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-9{
    display: flex;
    color: white;
    position: fixed;
    top: 30%;
    left: 65%;
    transform: translate(34%, -75%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-10{
    display: flex;
    color: white;
    position: fixed;
    top: 37%;
    left: 65%;
    transform: translate(34%, 0%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-11{
    display: flex;
    color: white;
    position: fixed;
    top: 44%;
    left: 65%;
    transform: translate(34%, 75%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.input-col-12{
    display: flex;
    color: white;
    position: fixed;
    top: 51%;
    left: 65%;
    transform: translate(34%, 150%);
    width: 20%;
    height: 4%;
    background-color: #3C3C3C4D;
    border: none;
    border-radius: 4px;
}
.clear-button1{
    border-radius: 8px;
    background: #0E0E0F;
    width: 65px;
    height: 24px;
    position: fixed;
    top: 74%;
    left: 43%;
    transform: translate(22%, -94%);
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}
.word-box-2{
    width: 78%;
    height: 22%;
    background-color: #21212394;
    display: flex;
    color: white;
    position: fixed;
    top: 79%;
    left: -15%;
    transform: translate(34%, -75%);
    border-radius: 3%;

}

.confirm-button1{
    border-radius: 8px;
    background: #21db9a;
    width: 110px;
    height: 35px;
    flex-shrink: 0;
    position: fixed;
    top: 85%;
    left: 63%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;

}
.back-to-secret-button1{
    border-radius: 8px;
    background: #0E0E0F;
    width: 110px;
    height: 35px;
    flex-shrink: 0;
    position: fixed;
    top: 85%;
    left: 7%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}
