#chartDiv{
    position: relative;
    width: 97%;
    flex: 1;
    background-color: #0E0E0F;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 25px;
    border-radius :10px;
}

#tchart{
    width: 100%;
    height: 98%;
    position: relative;
    z-index: 1;
    margin-bottom: -25px;
}

.buttonDiv{
    position: absolute;
    z-index: 2;
    width: calc(100% - 45px);
    background-color: #0E0E0F;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
}

.durationButton{
    background-color: #0E0E0F;
    color: #9E9E9E;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.durationButton:hover{
    background-color: #21DB9A;
    color: #ffffff;

}

.durationButton.active{
    background-color: #21DB9A;
    color: #ffffff;
}