.s-lables{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    flex-wrap: wrap;
}

.s-data{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-weight: 500;
    text-align: justify;
    padding-right: 0.5rem;
    color: #b4b4b4;
    flex-wrap: wrap;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-spin .ant-spin-dot-item {
    background-color: #21db9a;

}

.button-container{
    position: absolute;
    z-index: 2;
    width: calc(100% - 60px);
    background-color: #0E0E0F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
}

.duration-button{
    background-color: #0E0E0F;
    color: #9E9E9E;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 5px;
}

