.label{
    color: #9E9E9E;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 1.125em;

}
.input-field-container{
    margin: 1.4375em auto;
    width: 17.1875em;
}

.tradeHeader{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
}

side-panel {
    padding: 22px;
}
