@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.top-navbar{
    background-color: #0E0E0F;
    padding-left: 10px;
    position: fixed;
    top: 0;
    left: 6%;
    width: 94%;
    height: 6%;
    box-sizing: border-box;
    display: flex;
    z-index: 2;
}

.top-navbar.full-width{
    left: 0;
    width: 100%;
}

.top-navbar-iconholder{
    background-color: #0E0E0F;
    position: fixed;
    top: 0;
    left: 0;
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
}

.top-nav-link{
    text-decoration: none;
    color: #9E9E9E;
    border-radius: 5px;
    padding: 4px 7px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.top-nav-link:hover,
.top-nav-link:active,
.top-nav-link.active{
    background-color: #21DB9A;
    color: #ffffff;
}

.top-right-container{
    margin-left: auto;
    display: flex;
}

.top-right-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.top-nav-user-name{
    color: #9E9E9E;
    font-weight: 500;
    font-size: 16px;
    margin-right: 8px;
    font-family: 'Inter', sans-serif;
}

.top-nav-profile-icon{
    color: #21db9a;
    font-size: 1.5rem;
}

.floating-container {
    height: fit-content;
    width: 250px;
    position: absolute;
    top: -6%;
    right: 0.6%;
    background-color: #0E0E0F;
    color: #9E9E9E;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: top 0.5s ease, opacity 0.7s ease;
    box-shadow: inset 0px 0px 12px 0px #282828C0;
}

.floating-container.active{
    position: absolute;
    top: 6vh;
    opacity: 1;
    z-index: -1;
    visibility: visible;
}

.profile-raw {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem 0.8rem 0.5rem;
    padding: 0.5rem 0.3rem;
    color: #6D6D6D;
    border-radius: 5px;
    height: 40px;
}

.profile-raw:hover{
    cursor: pointer;
    background-color: rgba(141, 141, 141, 0.1);
    transition: background-color 0.3s ease;
}

.row-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.row-name {
    padding-left: 0.7rem;
    font-weight: 600;
    width: 80%;
}