

.component1{
    width: 900px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #0E0E0F;
    position: fixed;
    top: 8%;
    left: 8%;
    z-index: 100;
    border-radius: 0.938rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1.8%;
    overflow-y: auto; 
}

.component2{
    width: 12.5rem;
    height: 100vh;
    background-color: #0E0E0F;
    position: fixed;
    top: 8%;
    right: 1%;
    z-index: 100;
    border-radius: 0.938rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1.8%;
    overflow-y: auto; 
}
.bar{
    width: 32.5rem;
    height: 1.563rem;
    flex-shrink: 0;
    border-radius: 0.938rem;
    background: rgba(60, 60, 60, 0.39);
    color: white;
    margin-top: 1.25rem;
}
.ques-button{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.34px;
    border-radius: 11px;
    background: #21DB9A;
    margin-right: 2.5rem;

    box-shadow: 8px 9px 6.8px 1px rgba(0, 0, 0, 0.25);


    width: 7.5rem;
    height: 2.063rem;
    flex-shrink: 0;
}

.bar{
    margin: right 2.5rem;
}

.filter-icon{
    color: #6D6D6D;
    padding-top: 0.625rem;
    margin-right: 2.5rem;
    size:30;
}
.fav-title{
    color: #FFF;
    
}
.side-panel-header{
    color: #21DB9A;
}


.sub-title{
    color: #FFF;
    margin-top: 0%;
    font-size: 10px;
    
}
.sub-title::before{
    content: "•";
    color: #FFF;
    margin-right: 0.5rem;

}
.topic-row .topic{
    width: 480px;
    color:#21DB9A;
    margin: 2% 0% 2% 7.5% ;
    
}


/*
display: flex;
    text-align: center;
    font-family: Inter;
    padding-left: 19%;
    font-style: normal;
    line-height: normal;
    margin-top: -2px;
*/
.topic-row{
    background-color: #151517;
    margin: 0.8rem;
    /*grid-template-columns: repeat(3,50px) 1fr;*/
    color: #FFF;
    display: flex;
    border-radius: 0.625rem;
}
.topic-row .topic h4 {
    margin-top: 0.5rem;
    
}
.questionarea{
    display: inline-block;
}

.sub-title{
    font-size: 13px;
    margin-top: 0.6rem;
}
.topic-stat {
    margin-right: 4.5rem;
    text-align: right;
    margin-top: 0.5rem;
  

}
.topic-stat-likes {
    margin-right: 3.5rem;
    text-align: right;
    margin-top: 0.5rem;

    
}
.topic-stat-replies{
   
    text-align: right;
    margin-top: 0.5rem;

}
.question-stat .replies{
   margin-right: 2.5rem;   
}
.question-stat {
    margin-left: auto;
   text-align: right;    
}
.question-row .author{
    color: #21DB9A;
    font-size: 7px;
    margin-left: 0.188rem;
}
.question-stat p{
    color: #21DB9A;
    margin-top: 1.8rem;
    margin-right: 1.5rem;
       
}

.question-title h4{
    margin-left: 0.625rem;
    
}
.question-title p{
    font-size: 12px;
    margin-left: 0.188rem;
    color:#6D6D6D;
}
.question-row{
    background-color: #151517;
    margin: 1.25rem;
    grid-template-columns: repeat(3,50px) 1fr;
    color: #FFF;
    display: flex;
    border-radius: 0.938rem;
    margin-bottom: 1%;
    
    
}
.question-title{
    display: inline-block;
    width: 30rem;
    color:#FFF ;
    padding-top: 2%;
    margin-left: 1.063rem;
}

/* Answerset.css */

.question-answer-container{
    background-color: #151517;
    margin: 1.25rem;
    grid-template-columns: repeat(3,50px) 1fr;
    color: #FFF;
    display:inherit;
    border-radius: 0.938rem;
    margin-bottom: 1%;
    
}

.question-answer-container .question-title{
    width: 30rem;
    color:#FFF ;
    padding-top: 1%;
    margin-left: 1.063rem;
}

.answer-component.topic-row .topic {
    width: 75% !important;
    height: 15%;
}
.answer-text{
    font-size: 15px;
    margin-left: 1rem;
    color:#6D6D6D;
    margin-top: -0.5rem;
}

.action-buttons button{
    margin-left: 1rem;
    background: transparent;
  border: none;
  padding: 0;
  
  color:#21DB9A;
}
button.edit-button{
    
   
}

/*

.ask-question{
    min-height: 100vh;
    background-color: blue;

}
.ask-ques-container{
    margin: auto;
    max-width: 1200px;
}
.ask-ques-container h1{
    padding: 10px 0px 10px 0px;
}

.ask-ques-container form .ask-ques-container{
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%)
    0 20px 48px rgb(0 0 0 / 5%)
    0 1px 4px rgb(0 0 0 / 10%),
    ;

    .ask-form-container lable h4{
            margin-bottom: 0%;
    }
    .ask-form-container lable p{
        margin: 0%;
        font-size: 13px;
        padding: 3px 0px;
    }
    .ask-form-container lable input,
    .ask-form-container lable textarea{
        padding:10px;
        border: solid 1px black;
        font-family: 'Roboto',sans-serif;
        width: calc(100% - 20px);
        resize: vertical;
    }
    .post-button{
        margin: 50px 0px;
        padding: 10px;
        background-color: blue;
        border: solid 1px blue;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
    }
    .post-button:hover{
        background-color: blue;
    }
}*/