
.home-container {
    background-image: url("./coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* Add more styles as needed */
}