@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.value-bar{
    width: 100%;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 1vh;
    border-radius: 15px;
    background-color: #0E0E0F00;
    display: flex;
}

.usd-card,
.value-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0E0E0F;
    padding: 0 1.5vw;
    border-radius: 15px;
    min-width: 10vw;
    width: -moz-fit-content;
    width: fit-content;
}

.usd-card{
    margin-right: auto;
    text-align: left;
    box-shadow: 2px 2px 8px #21DB9A20;
    padding-right: 3vw;
}

.value-card{
    margin-left: auto;
    text-align: right;
    box-shadow: 2px 2px 8px #FFFFFF20;
    padding-left: 3vw;
}

.value-card-amount{
    font-family: 'Inter', sans-serif;
    margin: 1vh 0;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.value-card-label{
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9E9E9E;
}