@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.bar-chart-container{
    height: 96%;
}

.bar-chart{
    position: relative;
    width: 100%;
    height: 25px;
    border-radius: 7px;
    margin: 40px 0;

}

.progress-bar{
    position: absolute;
    height: 25px;
    border-radius: 7px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.bar-chart-labels-list{
    height: 80%;
    padding-right: 5px;
    margin: auto;
    overflow-y: auto;
}
.bar-chart-labels-list::-webkit-scrollbar {
    width: 0.1em;
}

.bar-chart-labels-list::-webkit-scrollbar-thumb {
    background-color: #3C3C3C;
}

.bar-chart-labels-list::-webkit-scrollbar-track {
    background-color: #0E0E0F;
}

.bar-chart-label{
    font-family: 'Inter', sans-serif;
    color: #9E9E9E;
    width: 25%;
    text-align: center;
    padding: 5px;
}

