.main-container{
    background-image: url("../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    top: 6%;
    left: 6%;
    width: 94%;
    height: 94%;
    overflow-y: auto;
    box-sizing: border-box;
}