.main-container{
    background-image: url("../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 6%;
    left: 6%;
    width: 94%;
    height: 94%;
    overflow-y: auto;
    word-wrap: break-word;
}

.main-container::-webkit-scrollbar {
    width: 0.1em;
}

.main-container::-webkit-scrollbar-thumb {
    background-color: #21DB9A;
}

.main-container::-webkit-scrollbar-track {
    background-color: #0E0E0F;
}