.newsbar-container {
    display: flex;
    width: 103%;
    height: 150px;
    background-color: #101012;
    margin: 5px;
    padding: 5px;
    border-radius: 23px;
    margin-left: -10px;
}

.img-container {
    flex: 1;
    height: 90%;
    border: 2px solid black;
    margin: 4px;
    border-radius: 10px;
}
.img-container img{
    width: 104%;
    height: 104%;
    border-radius: 10px;
}

.desc-container {
    flex: 4;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding-left: 10px;
    display: flex;
    margin-left: 10px;

}
.news-header-container{
    width: 95%;
}

.news-header-container a{
    text-decoration: none;
}


.foter-bar{
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desc-container h1 p {
    margin: 0;
    color: white;
}

.desc-container h1 {
    font-size: 1.3rem;
    font-family: 'Inter';
}

.desc-container p {
    font-size: 0.9rem;
    font-family: 'Inter';

}


.favorite-icon-container{
    width: 5%;
    display: flex;
    justify-content: center;
    margin-top: 22px;
    color:  #21DB9A;
    font-size: 25px;
}

.like-icon-container{
    display: flex;
    justify-content: flex-end;
    color: #21DB9A;
    font-size: 20px;
}
