.newsbar-container {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #0E0E0F;
}

.img-container {
   flex: 1;
    height: 90%;
    border: 1px solid white;
    margin: 5px;
    border-radius: 15px;
}

.desc-container {
    flex: 4;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding-left: 10px;

}

.foter-bar{

}

.desc-container h1 p {
    margin: 0;
    color: white;
}

.desc-container h1 {
    font-size: 1.5rem;
}

.desc-container p {
    font-size: 1rem;
}
 .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}
