.Dash-card {
  color: #9E9E9E;
  font-size: 35px;
  padding-left: 30px;
  padding-top: 20px;
}

.count {
  color: #21DB9A;
  font-size: 58px;
  font-weight: bold;
  padding-top: 45px;
  padding-left: 35px;
}

.requests {
  color: #ffffff;
  background-color: #0E0E0F;
  width: 589px;
  height: 686px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 20px;
  font-size: 25px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.issues {
  color: #ffffff;
  background-color: #0E0E0F;
  width: 736px;
  height: 686px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 20px;
  font-size: 25px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
  margin-right: 30px;
}

.verify-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.verify-table th {
  color: #9E9E9E;
  font-size: 18px;
  border-bottom: 1px solid #3C3C3C;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.verify-table td {
  color: #ffffff;
  font-size: 17px;
  padding: 15px;
  text-align: center;

}

.ViewAll-btn {
  width: 100px;
  margin-top: 150px;
  margin-left: 78%;
}