 .add-edu-container {
    color: #ffffff;
    background-color: #0E0E0F;
    width: 40rem;
    height: 35rem;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 20px;
  }
  
  
  