.uploaddata-container{
    width: 97%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #0E0E0F;
    box-shadow: 8px 9px 7px 0 rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    padding: 1rem 1rem 1rem 1rem ;
}

.submit-container{
    width: 98%;
    display: flex;
    margin-top: 1rem;
}
.submit-container button{
    margin: 1rem;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #000000;
    background: #292929;
    height: 2.2rem;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #151516;
}

.ant-select-selection-item{
    color: #21db9a;
}

.input-table{
    width: 100%;
}

.input-table td{
    padding: 1rem;
}

.input-table td p{
    margin-top: 0;
}

.uploaddata-container>p{
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;

}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #3C3C3C;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
}

.upload-container input {
    margin-bottom: 10px;
}

.upload-container p{
    font-size: 1rem;
    color: #9E9E9E;
    font-weight: bold;
}

.issue-container{
    width: 611px;
    height: 166px;
    background-color: #3C3C3C;
    border-radius: 8px;
    margin-top: 50px;

}

.issue-container p{
    font-size: 1rem;
    color: #9E9E9E;
    font-weight: bold;
}


.material-container{
    display: flex;
    width: 100%;
    height: 300px;
}

.material-div{
    width: 100%;
    padding: 1rem;
}

.custom-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #21DB9A;
  }
  
  .custom-textfield .MuiInputBase-input {
    color:  #21DB9A;
  }
  
  .custom-textfield .MuiInputBase-input.Mui-focused {
    color:  #21DB9A;
  }
  
  