.watchlist-table-container{
    background-color: #0E0E0F;
    width: 95%;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 15px;
  }

  .watchlist-table{
    color: #ffffff;
    background-color: #0E0E0F;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
  }

  .watchlist-table tr{
    border-bottom: 1px solid #3C3C3C;
    height: 70px;
  }

  .coin-image{
    width: 25px;
  }

  .coin-name-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .coin-name{

  }

  .coin-symbol{
    color: #9E9E9E;

  }

  .banner {
    color: #ffffff;
    background-color: #0E0E0F;
    width: 1300px;
    height: 120px;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-right: 10px; 
    margin-left: 10px;
    border-radius: 20px;
  }

  
  
  