/* .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.user-table th {
    color: #9E9E9E;
    font-size: 18px;
    border-bottom: 1px solid #3C3C3C;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-table td {
    color: #ffffff;
    font-size: 17px;
    padding: 15px;
    text-align: center;
}
.user-table th:first-child,
.user-table td:first-child {
    text-align: left;
}  */

/* .col1{
    width: 15%;
}
.col2{
    width: 15%; 
}
.col3{
    width: 15%; 
}
.col4{
    width: 15%;
}
.col5{
    width: 15%;
}
.col6{
    width: 15%;
} */