.alert-button{
    transform: translateY(60px);
    transition: transform 0.2s ease-in-out;
}

.alert-button.down{
    transform: translateY(150px);
    transition: transform 0.2s ease-in-out;
}

.date-picker-input {
    position: absolute;
    width: calc(100% - 70px);
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}