.side-navbar {
    width: 6%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.icon-container {
    padding: 22%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #0E0E0F;
}

.nav-link {
    color: #6D6D6D;
    margin-bottom: 25%;
    padding: 8px;
    margin: auto;
    font-size: 1.3rem;
}

.nav-label{
    position: absolute;
    background-color: #0e0e0fe3;
    height: 8vh;
    width: 180px;
    left: 4.6vw;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    color: #21DB9A;
    display: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-link-container{
    display: flex;
    align-items: center;
}

.nav-link svg {
    transition: fill 0.3s ease;
}

.nav-link:hover .nav-label{
    display: flex;
}

.nav-link:hover svg,
.nav-link.active svg {
    fill: #21DB9A;
}

.logo-container {
    padding-top: 27%;
    padding-bottom: 23%;
    text-align: center;
    background-color: #0E0E0F;
}
