.side-navbar {
    width: 6%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.icon-container {
    padding: 22%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #0E0E0F;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #6D6D6D;
    margin-bottom: 25%;
    padding: 8px;
    margin: auto;
    font-size: 1.3rem;
    position: relative;
}

.nav-label{
    position: absolute;
    left: -0.2vw;
    z-index: 1;
    display: none;
    height: 6vh;
    width: max-content;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #21DB9A;
    background-color: #181818;
    padding-left: 3vw;
    padding-right: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 3px #0b0b0b;
}

.nav-link svg {
    transition: fill 0.3s ease;
    z-index: 2;
}

.nav-link:hover .nav-label{
    display: flex;
}

.nav-link:hover svg,
.nav-link.active svg {
    fill: #21DB9A;
}

.logo-container {
    padding-top: 27%;
    padding-bottom: 23%;
    text-align: center;
    background-color: #0E0E0F;
}
