.main-background{
    background-image: url("../../../../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}
.secret-phrase{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 501;
    line-height: normal;
    margin-top: 40px;

}
.secret-para{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    margin-top: 16px;
}
.word-box{
    width: 68%;
    height: 40%;
    background-color: #21212394;
    display: flex;
    color: white;
    position: fixed;
    top: 64%;
    left: -7%;
    transform: translate(34%, -75%);
    border-radius: 3%;
}
.proceed-button{
    border-radius: 8px;
    background: #21db9a;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    position: fixed;
    top: 89%;
    left: 60%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}
.cancle-button{
    border-radius: 8px;
    background: black;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    position: fixed;
    top: 89%;
    left: 10%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}