.ant-modal.css-dev-only-do-not-override-1b0bdye {
     width: 100%;
}

.css-5xe99f-MuiLinearProgress-bar1 {
     background-color: #21db9a;
}


.css-r40f8v-MuiTypography-root {
     color: rgba(255, 255, 255, 0.6);
}

.css-r40f8v-MuiTypography-root {
     width: 3rem;
}