.heading{
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 2% 0% 1% 4%;
}
h3{
    color:#9E9E9E;
    padding-left: 4%;
}
.search-bar{
    display: flex;
    padding-left: 4%;
}

.chart-table{
    padding: 4% 0% 1.5% 4%;
}
.chart-table p{
   
   padding-bottom:1% ;
    
}
.data{
    display: flex;
    border-bottom: 1px solid #3C3C3C;
    width: 30%;
    margin-bottom: 1%;
    
}

.default p{
    padding-left: 4%;
}
.default{
    display: flex;
}

.page-content{
    display: flex;
}
.template{
    width:20%;
    height: 40%;
    background-color: #3C3C3C;
    box-sizing: border-box;
}
.left-side{
    width: 60%;
    margin: 0% 0% 0% 0%;
}

