.heading{
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 2% 0% 1% 3%;
}
.add-coins h3{
    color:#9E9E9E;
    padding-left: 4%;
}
.search-bar{
    display: flex;
    padding-left: 4%;
}

.chart-table{
    padding: 4% 0% 1.5% 4%;
}
.chart-table p{
   
   padding-bottom:1% ;
    
}
.data{
    display: flex;
    border-bottom: 1px solid #3C3C3C;
    
    width: 50%;
    color: #FFF;
    
    align-items: self-end;
    
}

.defaultname{
    margin-top: 3rem;
    color:#9E9E9E ;
    
}
.default{

}


.page-content{
    display: flex;
}
.template {
  width: 400px;
  height: 500px;
  background-color: #9e9e9e;
  margin-top: 5%;
  color: #FFF;
  border-radius: 0.938rem;
  margin-bottom: 1%;
  overflow: hidden; /* Hide overflow */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
.preview-scroll {
  flex-grow: 1; /* Take up all available space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
}

.right-side {
  width: 40%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; /* Add some padding */
}

.left-side {
  width: 55%; /* Slightly reduce width to give more space to right side */
}
.left-side{
    width: 60%;
    margin: 0% 0% 0% 0%;
}

.box{
    width: 50px;
    height: 80px;
    color: white;
}
.buttons{

    display: flex;
    margin-left: 35%;
    margin-top: 5%;
    
}
.tog-name{
   margin-bottom: 0.5rem;
   color: white;
}
.tog1{
    margin-left: 11.5rem;
    
}
.tog2{
    margin-left: 10.3rem;
}
.tog3{
    margin-left: 9.1rem;
}
.tog4{
    margin-left: 8.5rem;
}
.tog5{
    margin-left: 3rem;
}
.tog6{
    margin-right: 27.7rem;
    margin-top: -3.6rem;
    
}


.watchlist-table-container {
    background-color: #0E0E0F;
    width: 95%;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  .watchlist-table {
    color: #ffffff;
    background-color: #0E0E0F;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
  }
  
  .watchlist-table tr {
    border-bottom: 1px solid #3C3C3C;
    height: 70px;
  }
  
  .coin-image {
    width: 25px;
  }
  
  .coin-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  .coin-symbol {
    color: #9E9E9E;
  
  }
  
  
  .add-coin {
    margin-top: 100px;
  
  }
  
  .watchlist-table-modal {
    color: #ffffff;
    background-color: #0E0E0F;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 75px;
  
  }
  
  .watchlist-table-modal thead {
    margin-bottom: 100px;
    font-weight: bold;
  }
  
  .watchlist-table-modal tr {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  .coin-image-add {
    width: 30px;
    height: 30px;
  
  }
  
  .coin-symbol-add {
    font-size: 17px;
    font-weight: bold;
    color: #9E9E9E;
    margin-left: 10px;
  }
  
  .watchlist-table-modal tbody td {
    padding-top: 10px;
  }
  
  .coin-price-add {
    font-size: 17px;
    width: 150px;
  }