.heading{
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 2% 0% 1% 3%;
}
.add-coins h3{
    color:#9E9E9E;
    padding-left: 4%;
}
.search-bar{
    display: flex;
    padding-left: 4%;
}

.chart-table{
    padding: 4% 0% 1.5% 4%;
}
.chart-table p{
   
   padding-bottom:1% ;
    
}
.data{
    display: flex;
    border-bottom: 1px solid #3C3C3C;
    width: 30%;
    margin-bottom: 1%;
    color: #FFF;
    justify-content: center;
    align-items: center;
    
}

.default p{
    padding-left: 4%;
}
.default{
    display: flex;
    padding-left: 4%;
}

.page-content{
    display: flex;
}
.template{
    width: 400px;
    height: 500px;
    background-color: #9e9e9e;
    margin-top: 17%;
    
    grid-template-columns: repeat(3,50px) 1fr;
    color: #FFF;
    display: flex;
    border-radius: 0.938rem;
    margin-bottom: 1%;
}
.left-side{
    width: 60%;
    margin: 0% 0% 0% 0%;
}

.box{
    width: 50px;
    height: 80px;
    color: white;
}
.buttons{

    display: flex;
    margin-left: 50%;
    margin-top: 5%;
    
}