.monthly-summary-report {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background: linear-gradient(135deg, #1e1e1e 0%, #2a2a2a 100%);
  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  /* .summary-report h2 {
    text-align: center;
    color: #333;
  } */


  
  .monthly-summary-report h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    color: #21DB9A;;
  }
  .monthly-summary-report h5{
    color: black;
  }
  .monthly-summary-report h4{
    color: black;
    text-align: center;
    
  }
  
  .tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .monthly-summary-report table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: rgba(42, 42, 42, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .top-gainers, .top-losers {
    width: 100%;
    margin-bottom: 20px; /* Add space between tables */
    background-color: rgba(42, 42, 42, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
  }
  .top-gainers h5, .top-losers h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #21DB9A;
    text-align: center;
  }
  .monthly-summary-report th, .monthly-summary-report td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color:black;
  }
  @media print {
    .tables {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 40px;
    }
  
    .top-gainers, .top-losers {
      width: 42%; /* Adjust as needed */
      margin-bottom: 0;
  
      
    }
  }
  .monthly-summary-report th {
    
    font-size: 14px;
    color: #9E9E9E;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
  }

  .monthly-summary-report td{
    font-size: 14px;
    background-color: rgba(51, 51, 51, 0.7);
    padding: 12px;
    border-radius: 5px;
    color: white;
  }
  .coin-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .trending-coin, .selected-coins {
    background-color: rgba(42, 42, 42, 0.7);
    border-radius: 10px;
    padding: 25px;
    margin-top: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
  }
  .trading-history h4{
    color: #21DB9A;
    text-align: center;
  }
  .trending-coin h4, .selected-coins h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #21DB9A;
    text-align: center;
  }
  
  .coin-symbol {
    font-weight: bold;
    vertical-align: middle;
  }
  .trading-history table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .trading-history th,
  .trading-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
  }
  
  .trading-history th {
    background-color:  rgba(42, 42, 42, 0.7);
    font-weight: bold;
  }