.trade{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    color: white;
    margin-top: 70px;
    font-weight: 900;
}
.wallet{
    color: #21db9a;
    
}