.main-background{
    background-image: url("../../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.paste-text-icon{
    font-size: 18px;
    transform: translateX(-10%);
}

.address1{
    user-select: text;
    word-wrap: break-word;
    text-align: center;
    color: white;
    background-color: #242424;
    border: 2px solid #9E9E9F50;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin-top: 13px;

}