@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.table-container{
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 16px 2vw;
  background-color: #0E0E0F;
  overflow-x: auto;
}

.table-container 
.table-body.restart{
  animation: tableRestart 0.3s cubic-bezier(1, 0.8, 0, 0.2);
}

@keyframes tableRestart {
  from {
      opacity: 0;
      transform: translateY(-18px);
  }
  to {
      opacity: 1;
      transform: translateY()
  }
}


.table-container 
.main-table {
  width: 100%;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  border-collapse: collapse;
}

.table-container 
.table-head{
  border-bottom: 1px solid #3C3C3C;
  color: #9E9E9E;
  font-weight: 500;
  font-size: 17px;
}

.table-container tr{
  display: flex;
  align-items: center;
  min-height: 70px;
  position: relative;
}

.table-container td{
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.table-container 
.table-body
td{
  font-weight: 300;
  user-select: text !important;
} 


.table-container
td:first-child{
  padding-left: 2vw;
  /* flex:none;
  width: 12vw; */
  text-align: left;
  justify-content: left;
  box-sizing: border-box;
}

.table-container
.table-head
td:nth-child(2){
  margin-left: -2vw;
}


.table-container
.table-head
td:first-child{
  padding-left: 4vw;
}

.table-container 
.table-row::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  z-index: 0;
}

.table-container 
.table-body.hover 
.table-row:hover::before {
  background-color: #151516;
}

.empty-message{
  text-align: center;
  margin-top: 50px;
  margin-bottom: calc(45px - 2vh);
  font-size: 17px;
  font-weight: 500;
  color: #9e9e9e;
  opacity: 0.35;
  -webkit-user-select: none;
  user-select: none;
}

.table-container 
.table-coin-container{
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content; 
  height: 75px;
}

.table-container 
.table-coin-icon{
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.table-container 
.table-coin-name{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 2px;
}

.table-container 
.table-coin-symbol{
  font-size: 13px;
  color: #9E9E9E;
  font-weight: 400;
  margin-top: 0;
}