p{
    padding-left: 0;
    margin: 13px 0
}

h1{
    color : white;
   
}

::-webkit-scrollbar {
    width: 0.3rem; /* Set the width of the scrollbar */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #21db9a; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
  }
  
::-webkit-scrollbar-track {
    background-color: #3C3C3E; /* Set the color of the scrollbar track */
  }
