@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


*{
  font-family: 'Inter', sans-serif;
  -webkit-user-select:none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9e9e55;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #212121;
}
