.main-background{
    background-image: url("../../../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}
