.main-background{
    background-image: url("../../../../Assets/Images/coverx.png");
    background-color: #151516;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    padding: 0.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}
.set-pass{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
    margin-top: 30px;
}
.para{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    margin-top: 20px;
}
.password-input1{
    display: flex;
    color: white;
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translate(34%, -75%);
    width: 58%;
    height: 7%;
    background-color: #3C3C3C4D;
    border-bottom-color: #21DB9A;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 7px;
}
.confirm-password-input1{
    display: flex;
    color: white;
    position: fixed;
    top: 62%;
    left: 3%;
    transform: translate(34%, -75%);
    width: 58%;
    height: 7%;
    background-color: #3C3C3C4D;
    border-bottom-color: #21DB9A;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 7px;
}

.change-user-name{
    display: flex;
    color: white;
    position: fixed;
    top: 38%;
    left: 3%;
    transform: translate(34%, -75%);
    width: 58%;
    height: 7%;
    background-color: #3C3C3C4D;
    border-bottom-color: #21DB9A;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 7px;

}

.terms-checkbox{
    color: white;
    display: flex;
    color: white;
    position: fixed;
    top: 73%;
    left: 34%;
    transform: translate(34%, -75%);
    font-size: 85%;
}
.back-to-login-button{
    border-radius: 8px;
    background: #0E0E0F;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    position: fixed;
    top: 89%;
    left: 10%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}
.rec-button{
    border-radius: 8px;
    background: #21db9a;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    position: fixed;
    top: 89%;
    left: 60%;
    transform: translate(34%, -75%);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.34px;
    border: none;
}